In [74]:
import numpy as np
import pandas as pd

In [75]:
#import data
data = pd.read_csv("EURUSD.csv",names=['Date','Heure' , 'Open', 'High' , 'Low',  'Close' , 'Volume'])

In [76]:
data.head(5)

         Date  Heure     Open     High      Low    Close  Volume
0  2021.01.13  00:53  1.22111  1.22114  1.22088  1.22090     106
1  2021.01.13  00:54  1.22086  1.22098  1.22086  1.22092     110
2  2021.01.13  00:55  1.22091  1.22096  1.22086  1.22095      84
3  2021.01.13  00:56  1.22094  1.22097  1.22091  1.22092      84
4  2021.01.13  00:57  1.22093  1.22101  1.22092  1.22100     104

In [77]:
#Tabeau contenant tous les jours sans prise en copte la date 
date_en_jour=data['Date'].unique()

In [78]:
date_en_jour

array(['2021.01.13', '2021.01.14', '2021.01.15', '2021.01.17',
       '2021.01.18', '2021.01.19', '2021.01.20', '2021.01.21',
       '2021.01.22', '2021.01.24', '2021.01.25', '2021.01.26',
       '2021.01.27', '2021.01.28', '2021.01.29', '2021.01.31',
       '2021.02.01', '2021.02.02', '2021.02.03', '2021.02.04',
       '2021.02.05', '2021.02.07', '2021.02.08', '2021.02.09',
       '2021.02.10', '2021.02.11', '2021.02.12', '2021.02.14',
       '2021.02.15', '2021.02.16', '2021.02.17', '2021.02.18',
       '2021.02.19', '2021.02.21', '2021.02.22', '2021.02.23',
       '2021.02.24', '2021.02.25', '2021.02.26', '2021.02.28',
       '2021.03.01', '2021.03.02', '2021.03.03', '2021.03.04',
       '2021.03.05', '2021.03.07', '2021.03.08', '2021.03.09',
       '2021.03.10', '2021.03.11', '2021.03.12', '2021.03.14',
       '2021.03.15', '2021.03.16', '2021.03.17', '2021.03.18',
       '2021.03.19'], dtype=object)

In [79]:
data['prix']= (data['High']+ data['Low'])/2 #pour le prix on a pris la moyenne entre high and low

In [80]:
data = data.reindex(columns = data.columns.tolist() + ['prix_moyen']) #rajouté une colonne pour stocker le prix moyen

In [119]:
from datetime import date ,time, datetime
dict={}
dtableau_valeurs=[]
for jour in date_en_jour:
#on va itirer  sur les jours et calculer les valeurs  dont on  a besoin  prix moyen variance valeur max hauss
    
    data_de_ce_jour=data.loc[data['Date'] == jour]
   
    prix_moyen = data_de_ce_jour['prix'].mean()
    variance_= data_de_ce_jour['prix'].var()
    valeur_max = max(data_de_ce_jour['High'])
    hauss= max(data_de_ce_jour['High'])-min(data_de_ce_jour['Low'])  
    #pour la hauus on a prix la difference entre la valeur max attient et la valeur plus faible dans une  journnée
    
    
    Jour = datetime.strptime(jour, "%Y.%m.%d")
    lejour = date.weekday(Jour)
    lesJours = ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche']
    
    
    dict[jour]= prix_moyen
    dtableau_valeurs.append([lesJours[lejour],variance_,hauss,valeur_max])

In [120]:
#creer colonne moyen
moyenne = []

for i in data["Date"]:
    moyenne.append(dict[i])
data["prix_moyen"] = moyenne    
data

,Date,Heure,Open,High,Low,Close,Volume,prix,prix_moyen
0,2021.01.13,00:53,1.22111,1.22114,1.22088,1.22090,106,1.221010,1.218207
1,2021.01.13,00:54,1.22086,1.22098,1.22086,1.22092,110,1.220920,1.218207
2,2021.01.13,00:55,1.22091,1.22096,1.22086,1.22095,84,1.220910,1.218207
3,2021.01.13,00:56,1.22094,1.22097,1.22091,1.22092,84,1.220940,1.218207
4,2021.01.13,00:57,1.22093,1.22101,1.22092,1.22100,104,1.220965,1.218207
...,...,...,...,...,...,...,...,...,...
67703,2021.03.19,15:38,1.18807,1.18827,1.18805,1.18826,73,1.188160,1.190932
67704,2021.03.19,15:39,1.18825,1.18831,1.18819,1.18830,72,1.188250,1.190932
67705,2021.03.19,15:40,1.18827,1.18846,1.18826,1.18845,66,1.188360,1.190932
67706,2021.03.19,15:41,1.18848,1.18853,1.18836,1.18848,64,1.188445,1.190932
67707,2021.03.19,15:42,1.18847,1.18855,1.18847,1.18854,44,1.188510,1.190932

In [108]:
#creer une dataframe conteant chaque jour avec sa varianve  sa hauss et sa valuer maxiaml
new_data =pd.DataFrame(dtableau_valeurs, columns =['jour','variance','hauss','valeur_max'])

In [109]:
max(new_data['hauss'])

0.01204000000000005

In [111]:
jour_de_semaine=new_data['jour'].unique()

In [115]:
tableau_final=[]
for jour in jour_de_semaine:
    data_de_ce_jour=new_data.loc[new_data['jour'] == jour]
    
    moyen_de_la_variance=data_de_ce_jour['variance'].mean()
    plus_grand_hauss= max(data_de_ce_jour['hauss'])
    valeur_max= max(data_de_ce_jour['valeur_max'])
    
    tableau_final.append([jour,moyen_de_la_variance,valeur_max,plus_grand_hauss])

In [117]:
data_final=pd.DataFrame(tableau_final,columns=['jour','moyenne_variance','valeur_max','plus_grand_hauss'])

In [118]:
data_final

       jour  moyenne_variance  valeur_max  plus_grand_hauss
0  Mercredi      3.828495e-06     1.22230           0.01108
1     Jeudi      4.632844e-06     1.22426           0.01023
2  Vendredi      4.558045e-06     1.21895           0.01204
3  Dimanche      1.392257e-07     1.21706           0.00227
4     Lundi      2.948301e-06     1.21833           0.00880
5     Mardi      3.822989e-06     1.21793           0.01017